<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> DENGYUN.ME 后台管理 </title>
    <link rel="stylesheet" href="__ASSETS__/css/layui.css">
    <link rel="stylesheet" href="__ASSETS__/css/admin.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header custom-header">

        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item slide-sidebar" lay-unselect>
                <a href="/admin/login" class="icon-font"><i class="ai ai-menufold"></i></a>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;"> dengyun </a>
                <dl class="layui-nav-child">
                    <dd><a href=""> 修改密码 </a></dd>
                    <dd><a href="login.html"> 退出 </a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side custom-admin">
        <div class="layui-side-scroll">

            <div class="custom-logo">
                <img src="__ASSETS__/images/logo.png" alt=""/>
                <h1> DENGYUN.ME </h1>
            </div>
            <ul id="Nav" class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon"> &#xe68e; </i>
                        <em>主页</em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/main">控制台</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon">&#xe656;</i>
                        <em> 文章 </em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="views/form.html"> 文章列表 </a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon">&#xe65d;</i>
                        <em> 相册 </em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="views/form.html">表单</a></dd>
                        <dd>
                            <a href="javascript:;">页面</a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a href="login.html">登录页</a>
                                </dd>
                            </dl>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon">&#xe637;</i>
                        <em> 日历 </em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="views/form.html">表单</a></dd>
                        <dd>
                            <a href="javascript:;">页面</a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a href="login.html">登录页</a>
                                </dd>
                            </dl>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon">&#xe612;</i>
                        <em>用户</em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="views/users.html">用户组</a></dd>
                        <dd><a href="views/operaterule.html">权限配置</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>

    <div class="layui-body">
        <div class="layui-tab app-container" lay-allowClose="true" lay-filter="tabs">
            <ul id="appTabs" class="layui-tab-title custom-tab"></ul>
            <div id="appTabPage" class="layui-tab-content"></div>
        </div>
    </div>

    <div class="layui-footer">
        <p>© 2020 DENGYUN.ME </p>
    </div>

    <div class="mobile-mask"></div>
</div>
<script src="__ASSETS__/layui.js"></script>
<script src="__ASSETS__/js/index.js" data-main="home"></script>
</body>
</html>